.person-details {
	display: flex;
	margin-top: 1rem;
	flex-direction: row;
	padding: 1rem;
}

.person-details .person-image {
	width: 30%;
	height: 30%;
	border-radius: 10px;
}

.person-details .h4	{
	padding: .5rem;
}